services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432" # Windowsホスト環境にもPostgreSQLが存在しているため、Port5433を使用する
    volumes:
      - ./postgres_data:/var/lib/postgresql/data # DBデータの永続化
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d pomodoro_db"]
      interval: 2s
      timeout: 5s
      retries: 5
      start_period: 5s